
.trix-button-row {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(0,0,0,0.2);
    border-bottom: solid 1px rgba(0,0,0,0.2);
    .trix-button-group {
        border: none;
        margin: 10px 0px;
        .trix-button {
            border: none;
            padding: 0px 3px;
            max-width: 17px;
            margin-right: 10px;
            &.trix-active {
                background-color: rgba($orange, 0.3);
            }
        }
    }
}

trix-editor {
    border: none;
    padding: 0px;
    margin-top: 15px;
}
