body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
    }
}

.app-content {
    display: flex;
}

.main-content {
    display: flex;
    width: calc(100vw - 170px);
}

a {
    text-decoration: none;   
}