body {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
    }
}

.app-content {
    display: flex;
}

.main-content {
    display: flex;
}

a {
    text-decoration: none;   
}